/* 基础信息-账户信息 */
#AccountInfo {
	padding: 0 20px;
	padding-bottom: 50px;
}

#AccountInfo .infoBox {
	margin-top: 30px;
}

#AccountInfo .infoBox .nameText {
	color: #333333;
	font-size: 20px;
	font-weight: bold;
	border-left: 5px solid rgb(24, 144, 255);
	padding-left: 10px;
}

#AccountInfo .infoBox .itemBox {
	margin-top: 10px;
}

#AccountInfo .infoBox .itemBox .itemText {
	padding: 10px 0;
	color: #666666;
	border-bottom: 1px solid #EFEFEF;
	padding-left: 15px;
}

#AccountInfo .infoBox .itemBox .itemText span {
	color: #333333;
	font-weight: bold;
}

/* 数据中心-新增记录 */
#DataCenterAdd {
	height: 100%;
}

#DataCenterAdd .headMenuBox {
	padding: 10px 0;
}

#DataCenterAdd .headMenuBox .collectionBox {
	margin-left: 20px;
}

#DataCenterAdd .headMenuBox .collectionBox .txtLabel {
	display: inline-block;
	color: #666666;
}

#DataCenterAdd .headMenuBox .collectionHintBox {
	margin-left: 20px;
}

#DataCenterAdd .headMenuBox .collectionHintBox .txtLabel {
	color: #666666;
	padding-top: 8px;
}

#DataCenterAdd .CodeMirror {
	border: 1px solid #DFDFDF;
	height: 80%;
}

.menuBox {
	text-align: center;
	margin-top: 20px;
}

#DataCenterAdd .menuBox .saveBtn {
	width: 100px;
	margin-left: 10px;
}

/* 数据中心-管理数据 */
#DataCenterList {
	height: 100%;
}

#DataCenterList .headMenuBox {
	padding: 10px 0;
}

#DataCenterList .headMenuBox .collectionBox {
	margin-left: 20px;
}

#DataCenterList .headMenuBox .collectionBox .txtLabel {
	display: inline-block;
	color: #666666;
}

#DataCenterList .headMenuBox .collectionHintBox {
	margin-left: 20px;
}

#DataCenterList .headMenuBox .collectionHintBox .txtLabel {
	color: #666666;
	padding-top: 8px;
}

#DataCenterList .dataListBox .paginationBox {
	text-align: right;
	padding: 15px 10px;
}

#DataCenterList .eidtJsonBox {
	height: 100%;
}

#DataCenterList .eidtJsonBox .CodeMirror {
	border: 1px solid #DFDFDF;
	height: 80%;
}

#DataCenterList .eidtJsonBox .menuBox .saveBtn {
	width: 100px;
	margin-left: 10px;
}

/* 文件系统-管理文件 */
#FileSystemList {
	height: 100%;
}

#FileSystemList .headMenuBox {
	padding: 10px 0;
}

#FileSystemList .headMenuBox .collectionBox {
	margin-left: 20px;
}

#FileSystemList .headMenuBox .collectionBox .txtLabel {
	display: inline-block;
	color: #666666;
}

#FileSystemList .headMenuBox .collectionHintBox {
	margin-left: 20px;
}

#FileSystemList .headMenuBox .collectionHintBox .txtLabel {
	color: #666666;
	padding-top: 8px;
}

#FileSystemList .paginationBox {
	text-align: right;
	padding: 15px 10px;
}

#FileSystemList .resourceBtn {
	padding: 7px 15px;
	margin: 0 10px;
}

/* 文件系统-上传文件 */
#UploadFile {
	height: 100%;
}

#UploadFile .headMenuBox {
	padding: 10px 0;
}

#UploadFile .headMenuBox .collectionBox {
	margin-left: 20px;
}

#UploadFile .headMenuBox .collectionBox .txtLabel {
	display: inline-block;
	color: #666666;
}

#UploadFile .headMenuBox .collectionHintBox {
	margin-left: 20px;
}

#UploadFile .headMenuBox .collectionHintBox .txtLabel {
	color: #666666;
	padding-top: 8px;
}

#UploadFile .uploadBox {
	margin: 20px;
}

/* API文档 */
#DocumentBox {
	height: 100%;
}

#DocumentBox .documentWindow {
	border: none;
}

/* 功能暂未开放 */
#HintBox {
	height: 100%;
}

#HintBox .pHint {
	margin: 20px 0;
	text-align: center;
	font-size: 18px;
	color: #999999;
}
