body {
	background-color: rgb(50, 65, 87);
}

#Login .loginBox {
	width: 520px;
	margin: 0 auto;
	margin-top: 160px;
}

#Login .loginBox .title {
	color: #FFFFFF;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}

#Login .loginBox .inputBox {
	width: 100%;
	background-color: rgb(40, 52, 70);
	margin-top: 20px;
	border: 1px solid #555555;
	border-radius: 5px;
}

#Login .loginBox .inputBox .icon {
	color: #FFFFFF;
	width: 8%;
	text-align: center;
}

#Login .loginBox .inputBox .text {
	width: 90%;
	background-color: rgb(40, 52, 70);
	border: none;
	padding: 15px 0;
	color: #FFFFFF;
	outline: none
}

#Login .loginBox .pBtnOne {
	margin-top: 20px;
}

#Login .websiteFiling {
	color: #FFFFFF;
	display: block;
	text-align: center;
	text-decoration: none;
	margin-top: 30px;
}
